{
  "env": {
    "browser": false,
    "es6": true,
    "node": true,
    "mocha": false
  },

  "parserOptions": {
      "ecmaVersion": 8
  },

  "globals": {
    "document": false,
    "navigator": false,
    "window": false
  },

  "rules": {
    "accessor-pairs": "warn",
    "arrow-spacing": ["warn", { "before": true, "after": true }],
    "block-spacing": ["warn", "always"],
    "brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
    "comma-dangle": ["warn", "never"],
    "comma-spacing": ["warn", { "before": false, "after": true }],
    "comma-style": ["warn", "last"],
    "constructor-super": "warn",
    "curly": ["warn", "multi-line"],
    "dot-location": ["warn", "property"],
    "eqeqeq": ["warn", "allow-null"],
    "generator-star-spacing": ["warn", { "before": true, "after": true }],
    "handle-callback-err": ["warn", "^(err|error)$" ],
    "key-spacing": ["warn", { "beforeColon": false, "afterColon": true }],
    "keyword-spacing": ["warn", { "before": true, "after": true }],
    "new-cap": ["warn", { "newIsCap": true, "capIsNew": false }],
    "new-parens": "warn",
    "no-array-constructor": "warn",
    "no-caller": "warn",
    "no-class-assign": "warn",
    "no-cond-assign": "warn",
    "no-const-assign": "warn",
    "no-control-regex": "warn",
    "no-debugger": "warn",
    "no-delete-var": "warn",
    "no-dupe-args": "warn",
    "no-dupe-class-members": "warn",
    "no-dupe-keys": "warn",
    "no-duplicate-case": "warn",
    "no-empty-character-class": "warn",
    "no-empty-function": "warn",
    "no-ex-assign": "warn",
    "no-extend-native": "warn",
    "no-extra-bind": "warn",
    "no-extra-boolean-cast": "warn",
    "no-extra-parens": ["warn", "functions"],
    "no-extra-semi": "warn",
    "no-fallthrough": "warn",
    "no-floating-decimal": "warn",
    "no-func-assign": "warn",
    "no-implied-eval": "warn",
    "no-inner-declarations": ["warn", "functions"],
    "no-invalid-regexp": "warn",
    "no-irregular-whitespace": "warn",
    "no-iterator": "warn",
    "no-label-var": "warn",
    "no-labels": "warn",
    "no-lone-blocks": "warn",
    "no-mixed-spaces-and-tabs": "warn",
    "no-multi-spaces": "warn",
    "no-multi-str": "warn",
    "no-multiple-empty-lines": ["warn", { "max": 1 }],
    "no-native-reassign": 0,
    "no-negated-in-lhs": "warn",
    "no-new": "warn",
    "no-new-func": "warn",
    "no-new-object": "warn",
    "no-new-require": "warn",
    "no-new-wrappers": "warn",
    "no-obj-calls": "warn",
    "no-octal": "warn",
    "no-octal-escape": "warn",
    "no-proto": 0,
    "no-redeclare": "off",
    "no-regex-spaces": "warn",
    "no-return-assign": "warn",
    "no-self-compare": "warn",
    "no-sequences": "warn",
    "no-shadow-restricted-names": "warn",
    "no-spaced-func": "warn",
    "no-sparse-arrays": "warn",
    "no-this-before-super": "warn",
    "no-throw-literal": "off",
    "no-trailing-spaces": "warn",
    "no-undef": "error",
    "no-undef-init": "warn",
    "no-unexpected-multiline": "warn",
    "no-unneeded-ternary": ["warn", { "defaultAssignment": false }],
    "no-unreachable": "warn",
    "no-unused-vars": ["warn", { "vars": "all", "args": "none" }],
    "no-useless-call": 0,
    "no-with": "warn",
    "no-var": "warn",
    "operator-linebreak": [0, "after", { "overrides": { "?": "before", ":": "before" } }],
    "padded-blocks": [0, "never"],
    "prefer-const": "warn",
    "quotes": ["warn", "double", "avoid-escape"],
    "radix": "warn",
    "semi": ["warn", "always"],
    "semi-spacing": ["warn", { "before": false, "after": true }],
    "indent": ["warn", 2],
    "space-before-blocks": ["warn", "always"],
    "space-before-function-paren": ["warn", "never"],
    "space-in-parens": ["warn", "never"],
    "space-infix-ops": "warn",
    "space-unary-ops": ["warn", { "words": true, "nonwords": false }],
    "spaced-comment": [0, "always", { "markers": ["global", "globals", "eslint", "eslint-disable", "*package", "!", ","] }],
    "use-isnan": "warn",
    "valid-typeof": "warn",
    "wrap-iife": ["warn", "any"],
    "yoda": ["warn", "never"]
  }
}